= title "Prikaz pobud z ozirom na izbrane kriterije"

= form_tag '/statistics_tables', :id => 'statistics', :method => :get do
  = select_tag :tag_group_id, options_for_select(@taggroups.collect{|x| [x.title,x.id]}, @statistics[:tag_group_id]), :prompt => "Vsa področja"
  = select_tag :year, options_for_select([ "2011", "2012", "2013"], @statistics[:year]), :prompt => "Vsa leta"
  = select_tag :post_kind_id, options_for_select(@postkinds.collect{|x| [x.title,x.id]}, @statistics[:post_kind_id]), :prompt => "Vse pobude"
  = select_tag :institution_id, options_for_select(@institutions.collect{|x| [x.name,x.id]}, @statistics[:institution_id]), :prompt => "Vse ustanove"
  = #select_tag :pdf_list_type, options_for_select([["Prikaz seznama", "list"], ["Celotni prikaz", "full"]], @statistics[:pdf_list_type])
  = submit_tag "Poišči"

%div
  = link_to image_tag('pdf.jpg', :border => 0) + " Natisni pobude v obliki seznama", statistics_tables_path(:tag_group_id => "#{ @statistics[:tag_group_id]}", :year => "#{ @statistics[:year]}", :post_kind_id => "#{ @statistics[:post_kind_id]}", :institution_id => "#{ @statistics[:institution_id]}", :pdf_list_type => "list", format: "pdf"), :target => "_blank"
  = link_to image_tag("pdf.jpg", :border => 0) + " Natisni pobude v polni obliki", statistics_tables_path(:tag_group_id => "#{ @statistics[:tag_group_id]}", :year => "#{ @statistics[:year]}", :post_kind_id => "#{ @statistics[:post_kind_id]}", :institution_id => "#{ @statistics[:institution_id]}", :pdf_list_type => "full", format: "pdf"), :target => "_blank"

%table
  %thead
    %tr
      %th= "Št."
      %th= "Datum vprašanja"
      %th= "Ime izpraševalca"
      %th= "Priimek izpraševalca"
      %th= "Naziv objave"
      %th= "Področje"
      %th= "Datum odgovora"
      %th= "Naslovljena ustanova"
  %tbody
    - counter = 0
    - for row in @table
      - counter+=1
      %tr
        %td= (counter).to_s+"."
        %td= dateit row.original_posts_created_at
        %td= link_to row.original_posts_first_name, original_post_path(row.original_posts_id)
        %td= link_to row.original_posts_last_name, original_post_path(row.original_posts_id)
        %td
          - if row.posts_id.present?
            = link_to row.posts_title, post_path(row.posts_id)
          - else
            ✗
        %td= text_find(TagGroup, row.posts_tag_group_id)
        %td= dateit row.answers_answered_at
        %td
          - if row.institutions_id.present?
            = link_to row.institutions_name, institution_path(row.institutions_id)
          - else
            ✗



