= simple_form_for resource do |f|
  - unless resource.admin?
    = f.association :institution, :prompt => "Izberite ustanovo uporabnika"
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  - unless resource.admin?
    = f.input :user_kind, :collection => UserKind.all, :prompt => "Izberite vrsto uporabnika", :value_method => Proc.new {|user_kind| user_kind.id }
  = f.input :notes, :input_html => { :rows => 8 }
  
  = f.submit