= simple_form_for resource do |f|
  - if current_user.admin?
    = f.association :institution, :prompt => "Izberite ustanovo, ki gosti dogodek"
  - else
    = f.input "institution_id", :as => :hidden
  = f.input "user_id", :as => :hidden
  = f.input "title"
  = f.input "address"
  = f.association :post_office
  = f.input "date_and_time_at"
  = f.input "description"
  = f.submit