%p.today
  Danes ob
  %span.time= l event.date_and_time_at, :format => :time_only
  %span.event_link= link_to event.title, event_path(event.id)
  , na naslovu
  %span.address= "#{event.address}, #{event.post_office}."
