= title "Podajanje odgovora na #{@post_kind_title}"

= render "posts/question", :question =>  @answer.post

= simple_form_for @answer do |f|
  = f.input :summary, :input_html => { :rows => 8 }
  = f.input :answer, :input_html => { :rows => 8 }
  = f.input :suggestion, :class => "suggestion", :input_html => { :rows => 8 }
  = f.input :note, :input_html => { :rows => 8 }
  = f.input :range,   :as => :select, :collection => AnswerRange.all, :prompt => "Določite rang veljave"
  = f.input :status,  :as => :select, :collection => AnswerStatus.all,:prompt => "Določite status odgovora"
  = f.input :institutionalized_at, :as => :hidden
  = f.input :user_id, :as => :hidden
  = f.input :post_id, :as => :hidden
  = f.input :institution_id, :as => :hidden
  = f.button :submit, :value => "Odgovori"
  




