= title "Ustvarjanje zahtevka za odgovor"

= render "posts/question", :question =>  @answer.post

= simple_form_for @answer do |f|
  = f.association :institution, :prompt => "Izberite ustanovo, kateri želite posredovati objavo"
  = f.input :post_id, :as => :hidden
  = #check_box_tag('send_mail', 'send')
  = #"Obvesti po e-pošti"
  %br
  %strong Beležka
  %br
  = f.text_area :note, :rows => 8
  %br
  = f.button :submit, :value => "Posreduj objavo"
  



