= title "Ustvarjanje zahtevka za odgovor"

= render "posts/question", :question =>  @answer.post

= simple_form_for @answer do |f|
  = f.association :institution, :prompt => "Izberite ustanovo, kateri želite posredovati objavo"
  = f.input :post_id, :as => :hidden
  = f.button :submit, :value => "Posreduj objavo"
  



