= simple_form_for resource do |f|
  = f.input :name
  = f.input :address
  = f.input :tax_nr
  = f.input :telephone
  = f.input :fax
  = f.input :mobile
  = f.input :email
  = f.input :url
  = f.input :institution_id, :as => :hidden, :value_method => params[:institution_id]
  = f.button :submit
