= simple_form_for [parent, resource] do |f|
  = f.input :institution_id, :as => :hidden
  = f.input :mon_from
  = f.input :mon_to
  = f.input :tue_from
  = f.input :tue_to
  = f.input :wed_from
  = f.input :wed_to
  = f.input :thu_from
  = f.input :thu_to
  = f.input :fri_from
  = f.input :fri_to
  = f.input :sat_from
  = f.input :sat_to
  = f.input :sun_from
  = f.input :sun_to
  
  = f.button :submit

