= title @title

- unless @posts.present?
  %p.message= @no_posts_message
- else
  %table
    %thead
      %tr
        %th= sortable("original_posts_created_at",  "Datum vprašanja")
        %th= sortable("posts_created_at",           "Datum obdelave")
        %th= sortable("posts_tag_group_id",         "Področje")
        %th= sortable("posts_title",                "Naziv vprašanja")
        %th= sortable("original_posts_first_name",  "Ime izpraševalca")
        %th= sortable("original_posts_last_name",   "Priimek izpraševalca")
        %th= sortable("institutions_name",          "Ustanova")
        %th= sortable("attachments_id",             "Priponka")
    %tbody
      - for post in @posts
        %tr
          %td= dateit post.original_posts_created_at
          %td= dateit post.posts_created_at
          %td= textit TagGroup.find(post.posts_tag_group_id)
          %td= link_to post.posts_title, post_path(post.posts_id)
          %td= post.original_posts_first_name
          %td= post.original_posts_last_name
          %td= post.institutions_name
          %td= yes_no(post.attachments_id)
