= title @title

- unless @posts.present?
  %p.message= @no_posts_message
- else
  %table
    %thead
      %tr
        %th= klass_sortable(AddressedPost, "original_posts_created_at",  "Datum pobude")
        %th= klass_sortable(AddressedPost, "posts_created_at",           "Datum obdelave")
        %th= klass_sortable(AddressedPost, "posts_post_kind_id",         "Vrsta objave")
        %th= klass_sortable(AddressedPost, "posts_tag_group_id",         "Področje")
        %th= klass_sortable(AddressedPost, "posts_title",                "Naziv pobude")
        %th= klass_sortable(AddressedPost, "original_posts_first_name",  "Ime pobudnika")
        %th= klass_sortable(AddressedPost, "original_posts_last_name",   "Priimek pobudnika")
        %th= klass_sortable(AddressedPost, "institutions_name",          "Ustanova")
        %th= klass_sortable(AddressedPost, "attachments_id",             "Priponka")
    %tbody
      - for post in @posts
        %tr
          %td= dateit post.original_posts_created_at
          %td= dateit post.posts_created_at
          %td
            - if post.posts_post_kind_id.present?
              - post_kind = PostKind.find(post.posts_post_kind_id)
              = link_to post_kind.title, { :posts_post_kind_id => post_kind.id }
            - else
              ✗
          %td= textit TagGroup.find(post.posts_tag_group_id)
          %td= link_to post.posts_title, post_path(post.posts_id)
          %td= post.original_posts_first_name
          %td= post.original_posts_last_name
          %td= post.institutions_name
          %td= yes_no(post.attachments_id)
