= title @title

- unless @posts.present?
  %p.message= @no_posts_message
- else
  %table
    %thead
      %tr
        %th= klass_sortable(PublicPost, "original_posts_created_at",  "Datum vprašanja")
        %th= klass_sortable(PublicPost, "answers_date", "Datum odgovora")
        %th= klass_sortable(PublicPost, "posts_tag_group_id", "Področje")
        %th= klass_sortable(PublicPost, "posts_title",  @post_kind_title)
        %th= klass_sortable(PublicPost, "senders_name", "Poslal")
        %th= klass_sortable(PublicPost, "institutions_name", "Odgovoril")
    %tbody
      - for post in @posts
        %tr
          %td= dateit post.original_posts_created_at
          %td= dateit post.answers_date
          %td= text_find TagGroup, post.posts_tag_group_id
          %td= link_to post.posts_title, post_path(post.posts_id)
          %td= post.senders_name
          %td= answering_institution(post)
          