= title @title

- unless @posts.present?
  %p.message= @no_posts_message
- else
  %table
    %thead
      %tr
        %th= klass_sortable(UnaddressedPost, "original_posts_created_at",  "Datum pobude")
        %th= klass_sortable(UnaddressedPost, "posts_created_at",           "Datum obdelave")
        %th= klass_sortable(UnaddressedPost, "posts_post_kind_id",         "Vrsta objave")
        %th= klass_sortable(UnaddressedPost, "posts_tag_group_id",         "Področje")
        %th= klass_sortable(UnaddressedPost, "posts_title",                "Naziv pobude")
        %th= klass_sortable(UnaddressedPost, "original_posts_first_name",  "Ime pobudnika")
        %th= klass_sortable(UnaddressedPost, "original_posts_last_name",   "Priimek pobudnika")
        %th= klass_sortable(UnaddressedPost, "attachments_id",             "Priponka")
        %th Možnosti
    %tbody
      - for post in @posts
        %tr
          %td= dateit post.original_posts_created_at
          %td= dateit post.posts_created_at
          %td
            - if post.posts_post_kind_id.present?
              - post_kind = PostKind.find(post.posts_post_kind_id)
              = link_to post_kind.title, { :posts_post_kind_id => post_kind.id }
            - else
              ✗
          %td= textit TagGroup.find(post.posts_tag_group_id)
          %td= textit post.posts_title
          %td= post.original_posts_first_name
          %td= post.original_posts_last_name
          %td= yes_no(post.attachments_id)
          %td.admin
            = link_to "Naslovi",  new_answer_path(:post_id => post.posts_id)
            = link_to "Uredi", edit_post_path(post.posts_id)
