= simple_form_for resource do |f|
  = f.input :title
  = f.input :summary
  = f.input :text
  .sender-info
    %p
      %strong Ime poÅ¡iljatelja:
      #{ resource.original_post.sender}
    %p
      %strong Email poÅ¡iljatelja:
      #{ mail_to(resource.original_post.email)}
  
  = f.input :sex_id, :as => :radio, :collection => Sex.all
  = f.input :post_kind_id, :as => :radio, :collection => PostKind.all
  = f.input :post_status_id, :as => :select, :collection => PostStatus.all, :prompt => "DoloÄite status objave"
  
  = f.input :original_post_id, :as => :hidden
  = f.input :info_admin_id, :as => :hidden
  = f.submit
