= title @title

- unless @questions.present?
  %p.message= @no_questions_message
- else
  %table
    %thead
      %tr
        %th Prejem vprašanja
        %th= sortable("question_sender", "Vprašanje poslal") 
        %th Posredovanje vprašanja
        %th Posredovanje predlagal
        %th Prejemnik vprašanja
        %th Priponka
    %tbody
      - for question in @questions
        - answer = question.answers.last
        %tr
          %td= l question.original_post.created_at, :format => :short
          %td= question.original_post.sender
          %td= l answer.created_at, :format => :short
          %td= question.user
          %td= answer.institution
          %td
            - if question.attachment_added?
              = render "common/post_attachment_link", :post => question
            - else
              ✗