%div#pdf
  = link_to image_tag("pdf.jpg", :border => 0), resource_path(resource, format: "pdf"), :target => "_blank"
%br
= title resource

-if resource.rejected?
  - if can? :read, SuperAdminTable
    =button_to "Izbriši", @post, :method=>:delete, :class=>:destroy, :confirm => 'Ste prepričani?'

- if can?(:update, resource) or can?(:update, Answer) or can?(:create, Answer)
  %nav#editors-resource-menu
    %ul        
      - if can? :update, resource
        %li= link_to "Uredi objavo", edit_resource_path
      - if resource.last_answer.present? and !resource.answered? and !resource.misplaced? and can? :update, Answer
        %li= link_to "Odgovori", edit_answer_path(resource.last_answer.id)
      - if resource.misplaced? and can? :create, Answer
        %li= link_to "Ponovno naslovi",  new_answer_path(:post_id => resource.id)
      - if resource.last_answer.present? and can? :manage, Answer
        %li= link_to "Uredi odgovor", edit_answer_path(resource.last_answer.id)
        %li= link_to "Odstrani odgovor", resource.last_answer, :method => :delete, :confirm => destroy_confirmation(resource.last_answer)

= render "common/sender", :original_post => resource.original_post
%h3 Povzetek
%p.post-summary
  %strong Vprašanje:
  = resource.summary

- if resource.answered?
  %p.answer-summary
    %strong Odgovor:
    =resource.answer.summary

%h3 Podrobnosti
.post-pack
  .post
    %h5 Objava
    = render "common/redcloth_it", :content => resource.text
  - if resource.answered?
    .answer
      %h5 Odgovor
      = render "common/redcloth_it", :content => resource.answer.answer

  - if resource.approved_attachment
    .attachment
      %p
        %strong Priloge:
        = render "common/post_attachment_link", :post => resource

  .sent_at
    %p
      %strong Poslano:
      = l resource.original_post.created_at, :format => :short_date