= title @title

- unless @questions.present?
  %p.message= @no_questions_message
- else
  %table
    %thead
      %tr
        %th Prejem vprašanja
        %th Vprašanje poslal
        %th= sortable("created_at", "Obdelava vprašanja")
        %th Vprašanje obdelal
        %th Priponka
        %th Možnosti
    %tbody
      - for question in @questions
        %tr
          %td= l question.original_post.created_at, :format => :short
          %td= question.original_post.sender
          %td= l question.created_at, :format => :short
          %td= question.user
          %td
            - if question.attachment_added?
              = render "common/post_attachment_link", :post => question
            - else
              ✗
          %td.admin
            = link_to "Naslovi vprašanje",  institutionalize_answer_path(:post_id => question.id)
            = link_to "Uredi", edit_post_path(question)
