= simple_form_for resource, :html => { :multipart => true } do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :text

  = f.simple_fields_for :attachments do |attachment_fields|
    = attachment_fields.input :attachment

  = f.submit "Odpošlji"
