%nav#page-info
  %ul
    %li= link_to "O nas",   abouts_path
    %li= link_to "Kontakt", contacts_path
    %li= link_to "Pogoji uporabe", conditions_path
    %li= link_to "RdeÄ gumb", red_buttons_path
    %li= link_to "O projektu", project_infos_path
    

%p &copy; Pozoj d.o.o.