%ul
  %li= link_to "Vprašanja", questions_posts_path
  %li= link_to "Predlogi", suggestions_posts_path
  %li= link_to "Komentarji", comments_posts_path
  %li= link_to "Dogodki", events_path
  %li= link_to "Ustanove", institutions_path
