%strong Objave
%ul
  - if can? :read, OriginalPost
    %li= link_to "Neobdelane objave", original_posts_path
  - if can? :read, RejectedPost
    %li= link_to "Zavrnjene objave", unapproved_posts_path
  
  - if [UnaddressedPost, Institutionalized, Misplaced, Waiting, Answered].collect {|m| can?(:read, m)}.include?(true)
    %li
      %strong Pobude
      %ul
        - if can? :read, UnaddressedPost
          %li= selected_link("Nenaslovljene (#{@unaddressed_count})", unaddressed_posts_path)
        - if can? :read, Institutionalized
          %li= selected_link("Naslovljene (#{@addressed_count})", addressed_posts_path)
        - if can? :read, Misplaced
          %li= selected_link("Napačno naslovljene (#{@misplaced_count})", misplaced_posts_path)
        - if can? :read, Waiting
          %li= selected_link("V čakanju (#{@waiting_count})", waiting_posts_path)
        - if can? :read, Answered
          %li= selected_link("Odgovorjene", answered_posts_path) 
