- if user_signed_in?
  %div.admin
    - if [Event, Institution, OriginalPost, Post, AccessRight].collect {|m| can?(:manage, m)}.include?(true)
      %nav#admin_menu
        %h4 ADMINISTRATIVA
        %ul
          - if can? :manage, [OriginalPost, Post]
            %li
              %strong Objave
              %ul
                %li= link_to "Neobdelane objave", original_posts_path
                %li
                  %strong Vprašanja
                  %ul
                    %li= selected_link("Nenaslovljena vprašanja", unaddressed_questions_posts_path)
                    %li= selected_link("Naslovljena vprašanja", addressed_questions_posts_path)
                    %li= selected_link("Odgovorjena vprašanja", answered_questions_posts_path)
                %li= link_to "Komentarji", comments_posts_path
                %li= link_to "Predlogi", suggestions_posts_path
                %li= link_to "Neodobrene objave", unapproved_posts_path
          - if can? :manage, Region
            %li= link_to "Regije", regions_path
          - if can? :manage, City
            %li= link_to "Mesta", cities_path
          - if can? :manage, [User, AccessRight]
            %li= link_to "Uporabniške pravice", user_kinds_path
            %li= link_to "Uporabniki", users_path 
          
    
    #current-user
      Prijavljen
      = "administrator" if current_user.admin?
      = current_user
      = link_to "(Odjava)", destroy_user_session_path, :method => :delete
- else
  = link_to "Prijava", new_user_session_path, :id => "login"