- if user_signed_in?
  #admin_section
    = render "common/admin_links"
    %br.clear
    = render "common/super_admin_links"  
    %br.clear
    #current-user
      Prijavljen
      = "administrator" if current_user.admin?
      = current_user
      = link_to "(Odjava)", destroy_user_session_path, :method => :delete
